.item_103 {
	background-color: #4F6A4B;
}

.item_103 #wrapper:after {
	display: none;
}

ul {
	margin: 0;
	padding: 0;
}
/* page setup to make map fit =====================================*/
.item_103 #maincontent {
	max-width: 100%;
	width: 100%;
	margin-top: 7.1em;
}

@media only screen and (max-width: 1304px) {
	.item_103 #maincontent {
		margin-top: 8.4em;
	}
}

@media only screen and (max-width:957px) {
	.item_103 #maincontent {
		margin-top: 13.1em;
	}
}

@media only screen and (max-width: 480px) {
	.item_103 #maincontent {
		margin-top: 12.3em;
	}
}

/* next and back buttons ======================================== */
.EmapNav .WizardButtonContainer .submit {
	content: "";
	background-image:
		url("/templates/shimatheme/images/media-images/submit-button.png");
	position: absolute;
	height: 91px;
	right:-85px;
	top:80px;
	width: 77px;
	background-color: transparent;
	border:none;
}

.EmapNav .WizardButtonContainer .next {
	content: "";
	background-image:
		url("/templates/shimatheme/images/media-images/next-button.png");
	position: absolute;	
	height: 91px;
	right: -85px;
	top: 80px;
	width: 77px;
	border: none;
	background-color: transparent;
}


.EmapNav .WizardButtonContainer .back {
	content: "";
	background-image:
		url("/templates/shimatheme/images/media-images/back-button.png");
	position: absolute;
	height:91px;
	left: -85px;
	top: 80px;
	width: 77px;
	background-color: transparent;
	border:none;
}

.EmapNav .WizardButton span.btn-label {
 	display: none;
}

.geoliveSqueezeWindow {
	padding-bottom: 0;
}

.EmapNav .cancel {
	display: none;
}

.EmapNav .WizardButton>.buttonLabel {
	display: none;
}

/*general map styling ==================================== */
.AttributesContainer .TextAttribute_Title {
	color: #000000;
}

.geolive_window_page .control_icons>span {
	background-color: white;
}

.geolive_window_title_content>span {
	color: #000000;
}

.geolive_mediaMap_container>.geolive_inner {
	border: none;
}

.infow_bkg,.geolive_window_page {
	background-color: #d3effb;
}

.infowindow_title {
	background-image:
		url("http://ict4ag.geolive.ca/templates/shimatheme/images/GEOLiveSmallCopy.png");
	background-repeat: no-repeat;
	margin-right: 12px;
	padding-left: 39px;
	padding-top: 10px;
}

.AttributesContainer {
	margin-top: 4px;
}

.videoLink {
	margin-bottom: 5px;
	margin-top: 5px;
}

.geolive_window_footer {
	padding-bottom: 4px;
	padding-right: 5px;
}
/* post box media buttons ================================== */


span.t-btn.post {
	background-color: white;
}

/* user images =====================================*/
.user-icon li {
	display: inline-block;
	width: 110px;
	height: 118px;
	vertical-align: top;
	position: relative;
}

.user-icon>ul {
	margin: 0;
	padding: 20px 0 0;
}

.user-type {
	display: none;
}

.user-icon:before {
	content: "Who are you?";
	font-size: 28px;
	font-family: 'Open Sans', arial, Helvetica;
}

.user-icon li:after {
	top: 95px;
	left: 5px;
	position: absolute;
	width: 100px;
	text-align:center;
}

.user-icon {
	cursor: pointer;
}

.user-icon li.selected:first-child {
	background-image:
		url("/templates/shimatheme/images/media-images/self-advocate-color-white.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 90px auto;
}

.user-icon li:nth-child(1):hover {
	background-image:
		url("/templates/shimatheme/images/media-images/self-advocate-color-white.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 90px auto;
}

.user-icon li:first-child:after {
	content: "Employee with a Disability";
}

.user-icon li.selected:nth-child(2) {
	background-image:
		url("/templates/shimatheme/images/media-images/goverment-color-white.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 90px auto;
}

.user-icon li:nth-child(2):hover {
	background-image:
		url("/templates/shimatheme/images/media-images/goverment-color-white.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 90px auto;
}

.user-icon li:nth-child(2):after {
	content: "Government";
}

.user-icon li.selected:nth-child(3) {
	background-image:
		url("/templates/shimatheme/images/media-images/pathways-color.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 90px auto;
}

.user-icon li:nth-child(3):hover {
	background-image:
		url("/templates/shimatheme/images/media-images/pathways-color.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 90px auto;
}

.user-icon li:nth-child(3):after {
	content: "Service Provider";
}

.user-icon li.selected:nth-child(4) {
	background-image:
		url("/templates/shimatheme/images/media-images/employer-color-white.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 90px auto;
}

.user-icon li:nth-child(4):hover {
	background-image:
		url("/templates/shimatheme/images/media-images/employer-color-white.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 90px auto;
}

.user-icon li:nth-child(4):after {
	content: "Employer";
}

.user-icon li.selected:nth-child(5) {
	background-image:
		url("/templates/shimatheme/images/media-images/family-color.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 90px auto;
}

.user-icon li:nth-child(5):hover {
	background-image:
		url("/templates/shimatheme/images/media-images/family-color.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 90px auto;
}

.user-icon li:nth-child(5):after {
	content: "Family";
}

.user-icon li:after {
	font-size: 0.8em;
}

.user-icon li {
	border: 1px solid transparent;
}

.user-icon li:hover img {
	visibility: hidden;
}


/*General Marker wizard styling ================================= */

.geoliveSqueezeWindow {
	font-family: 'Open Sans', arial, helvetica;
}

/*hide geolocation title for self-advcoates */

div.hide-title.AdvancedEditorContainer {
	display: none;
}


/* Tag cloud ============================================= */
.imageButtonStyle .active {
	box-shadow: 0 0 5px black;
	opacity: 1;
}

.TagCloudSelection {
	margin-top:1em;
}

/*Marker wizard - positioning media images ================================*/
.media .ToolbarBottom {
	top: 40px;
	overflow-x: scroll;
	height: 44px;
	overflow-y: hidden;
	white-space: nowrap;
	text-align: left;
}

.media .ToolbarBottom div {
	display: inline-block;
	overflow-y: hidden;
}

.ToolbarBottom .ImageContainer {
	float: none;
}

.nomedia .ToolbarBottom {
	display: none;
}

.media .PopupTab span.noIcon {
	height: 75px;
	width: 105px;
}

.media .PopupTab span.noIcon.audio {
	background-image:
		url("/templates/shimatheme/images/media-images/media-music.png");
	background-size: 70px auto;
}

.media .PopupTab .document {
	display: none;
}

.media .PopupTab span.noIcon.image {
	background-image:
		url("/templates/shimatheme/images/media-images/media-image.png");
	background-size: 70px auto;
}

.media .PopupTab span.noIcon.video {
	background-image:
		url("/templates/shimatheme/images/media-images/media-video.png");
	background-size: 70px auto;
}

.media .PopupTab span.noIcon.audio:hover {
	background-image:
		url("/templates/shimatheme/images/media-images/media-audio-black.png");
	background-size: 70px auto;
}

.media .PopupTab span.noIcon.image:hover {
	background-image:
		url("/templates/shimatheme/images/media-images/media-image-black.png");
	background-size: 70px auto;
}

.media .PopupTab span.noIcon.video:hover {
	background-image:
		url("/templates/shimatheme/images/media-images/media-video-black.png");
	background-size: 70px auto;
}

.PopupTab img:hover, .PopupTab .noIcon:hover{
	background-color: white;
	box-shadow:0 0 0 transparent;
	border-color:transparent;
}

/*Marker wizard css for add media ============================*/
.add-title .Legend_inner {
	font-size: 25px;
}

.media .tabs_container:before {
	content: "Add:";
	font-size: 25px;
	line-height: 0;
}

.tabs {
	left: 0px;
}

.media .ContentDockPopupTab div.tabs {
	left: 15px;
	position: absolute;
	width: 335px;
}

.media .PopupTab .tabs {
	padding-top: 12px;
}

.posts {
	background-color: white;
}

.Attribute_Item.keywords>.Attribute_Value {
	background-color: white;
	padding: 5px;
	font-size: 14px;
	margin-bottom: 8px;
}

/* marker wizard css for story page ======================= */
span.story {
	font-size: 25px;
	font-family: 'Open Sans', arial, helvetica;
}

.keywords-users {
	font-size: 25px;
	font-family: 'Open Sans', arial, helvetica;
}

.Legend_inner {
	font-size: 15px;
}

.sa-description .tabs_container {
	display: none;
}

textarea.Mandatory.ContentDock-input.text-input {
	font-size: 15px;
}

textarea.ContentDock-input.text-input.withTabs {
	font-size: 15px;
}

textarea.ContentDock-input.text-input {
	font-size: 15px;
}

/* marker wizard css for self advocates description page ================= */

.sa-description .Legend_inner {
	font-size: 25px;
	text-align: center;
	margin-bottom: 15px;
}

/* Search bar ======================================= */

.GeoliveAttributesSearchInput {
	font-size:1.9em;
}

.AttributesSearchMore>span {
	font-size: 1.8em;
	padding: 5px 35px 0 10px;
	font-family: 'Open Sans', arial, helvetica;
}

/*Marker wizard add media page ============================*/
.media .ContentDockLegend.top-left {
	display: none;
}

.media .withTabs {
	display: none;
}

.PopupTab img,.PopupTab .noIcon {
	float: left;
}

.PopupTab img,div.PopupTab .noIcon {
	border: none;
}

.ContentDockPopupTab img {
	background: none;
}

.media .PopupTab {
        top: 25px;
	position: relative;
}

.nomedia .tabs {
	display: none;
}

.nomedia .tabs_container:before {
	display: none;
}

.media.AdvancedEditorContainer {
	position: relative;
	padding-bottom: 32px;
}

/*report popup css ==============================*/
.report_button {
	margin-right: 10px;
	background-color: #e5e5e5;
	background-image: url("/templates/shimatheme/images/report-image.png");
	background-position: 3px center;
	background-repeat: no-repeat;
	background-size: 31px auto;
	border: 1px solid #bfbfbd;
	border-radius: 2px 2px 2px 2px;
	padding-bottom: 8px;
	padding-left: 32px;
	padding-top: 10px;
	text-align: center;
	width: 110px;
	cursor: pointer;
	font-family: 'Open Sans', arial, helvetica;
}

#report {
	overflow: hidden;
	margin-left: 10px;
}

.report_button a {
	font-weight: 600;
}

#report div.alert {
	margin-top:0;
}

#module_report {
	display: inline-block;
	position: absolute;
	bottom: 45px;
	z-index: 1000;
	right: 0;
}

.b2jcontainer h2 {
	padding: 9px 7px;
	background: none repeat scroll 0 0 #000000;
	box-shadow: 0 0 1px #000000;
	font-size: 20px;
	margin: 0;
}

div#b2jcontainer_m92.b2jcontainer {
	color: #000000;
	border: none;
	box-shadow: 0 0 2px #000000;
}

div#b2jcontainer_m92 .b2j_form input[type="text"],div#b2jcontainer_m92 .b2j_form textarea
	{
	background-color: #FFFDF3;
	color: #000000;
}

div#b2jcontainer_m92 .chzn-container-single .chzn-single {
	background-color: #FFFDF3;
	color: #000000;
}

/* tooltip hovers ======================== */

.popover>.tip {
	color: white;
}

/*clusters ========================= */


/*experiences */
div.layer_experiences.style_1:before {
	background-image: url("/templates/shimatheme/images/cluster-icons/self-advocate.png");
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 100% auto;
	right: -14px;
	top: -4px;
}

div.layer_experiences.style_0:before {
	background-image: url("/templates/shimatheme/images/cluster-icons/self-advocate.png");
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 80% auto;
	right: -19px;
	top: -2px;
	background-repeat: no-repeat;
}

/*self advocate */
div.layer_13.style_1:before {
	background-image: url("/templates/shimatheme/images/cluster-icons/self-advocate.png");
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 100% auto;
	right: -14px;
	top: -4px;
}

div.layer_13.style_0:before {
	background-image: url("/templates/shimatheme/images/cluster-icons/self-advocate.png");
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 80% auto;
	right: -19px;
	top: -2px;
	background-repeat: no-repeat;
}

/*goverment */
div.layer_14.style_1:before {
	background-image: url("/templates/shimatheme/images/cluster-icons/government.png");
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 100% auto;
	right: -14px;
	top: -4px;
}

div.layer_14.style_0:before {
	background-image: url("/templates/shimatheme/images/cluster-icons/government.png");
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 80% auto;
	right: -19px;
	top: -2px;
	background-repeat: no-repeat;
}

/*service provider */
div.layer_15.style_1:before {
	background-image: url("/templates/shimatheme/images/cluster-icons/service-provider.png");
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 100% auto;
	right: -14px;
	top: -4px;
}

div.layer_15.style_0:before {
	background-image: url("/templates/shimatheme/images/cluster-icons/service-provider.png");
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 80% auto;
	right: -19px;
	top: -2px;
	background-repeat: no-repeat;
}

/*employer */
div.layer_16.style_1:before {
	background-image: url("/templates/shimatheme/images/cluster-icons/employer.png");
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 100% auto;
	right: -14px;
	top: -4px;
}

div.layer_16.style_0:before {
	background-image: url("/templates/shimatheme/images/cluster-icons/employer.png");
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 80% auto;
	right: -19px;
	top: -2px;
	background-repeat: no-repeat;
}

/*family */
div.layer_17.style_1:before {
	background-image: url("/templates/shimatheme/images/cluster-icons/family.png");
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 100% auto;
	right: -14px;
	top: -4px;
}

div.layer_17.style_0:before {
	background-image: url("/templates/shimatheme/images/cluster-icons/family.png");
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 80% auto;
	right: -19px;
	top: -2px;
	background-repeat: no-repeat;
}


/* marker info window --------------------------------- */

span.DescriptionModule.content {
	font-size: 1.3em;
	line-height: 1.2em;
	margin: 10px 0;
}

span.parsedVideo {
	display: none;
}

img.videoThumb {
	max-height:220px;
}

.geolive_window_title_content > *, .geolive_window_menu .iMenu li.iTitle {
	font-size: 17px;
}

 span.DescriptionModule.content video {
	display: block;
	margin: 0 auto;
}

.keywords span.Attribute_Value {
	font-size: 13px;
}

span.t-btn.move {
	background-color: white;
	color: black;
	font-size:12px
}

span.t-btn.edit.active {
	font-size: 12px;
}

span.t-btn.delete.active {
	font-size: 12px;
}

span.FormattedTextModule.content {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.1em;
	padding-bottom: 7px;
}

a.more {
	cursor: pointer;
}

/* "more" popup window */
.mapitem_more h1 {
	font-size: 40px;
}

.mapitem_more p {
	margin: 2px 10px;
}

.mapitem_more p span {
	line-height: 20px;
	text-align: left;
}

/* legend ------------------------------------------- */

span.legend_layer_title {
	font-size: 16px;
}

/* Consent form ================= */

.hide-text {
	display: none;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}

h4#label-a {
	cursor: pointer;
}

h4#label-b {
	cursor: pointer;
}

#consent-a {
	display:none;
}

#consent-a.video-enabled {
	display:block;
}

#consent-b {
	display:none;
}

#consent-b.text-enabled {
	display:block;
}

div.ConsentFormWidget .toolbar-icons {
	position: absolute;
	right: 0px;
	bottom: -36px;
	border: 5px solid white;
	background-color: white;
	border-radius: 3px;
}

div.ConsentFormWidget .toolbar-icons .t-btn {
padding: 5px 10px;
font-size:14px;
}

div#consent-container h5 { 
	font-weight: 600;
	color: black;
}

div.ConsentFormWidget video {
	margin-top: 15px;
}

label.labelSA {
	display: inline-block;
}

input#checkboxSA {
	margin-left: 10px;
}

label.myNameLabel {
	margin: 10px 0 5px;
}

h4#label-a:hover {
	text-decoration: underline;
}

h4#label-b:hover {
	text-decoration: underline;
}

img.video-icon {
	margin-left: 5px;
	vertical-align: middle;
}

img.text-icon {
	margin-left: 5px;
	vertical-align: middle;
}

.ShareLinksModule.icon li {
	cursor: pointer;
}
