@CHARSET "UTF-8";

.WizardBuilder .content {
	font-size: 30px;
	color: rgb(0, 33, 69);
	background: none;
}

.WizardBuilder .text-input {
	border-color: rgb(0, 33, 69);
	border-radius: 2px;
}

.WizardBuilder .content>.small {
	color: black;
	font-size: 13px;
	text-align: left;
	display: inline-block;
	width: 100%;
	text-indent: 50px;
	margin: 10px 0;
}

.WizardTitle>ul>li.current:before {
	display: none;
}

.WizardTitle>ul {
	overflow: hidden;
	border-bottom: none;
}

.ToolbarBottom>* {
	height: 32px;
}

span.Attribute_Item.keywords>span.Attribute_Value {
	border: none;
	margin: 3px;
	font-size: 11px;
	text-transform: capitalize;
}

span.Attribute_Item.keywords>span.Attribute_Value:hover {
	border: none;
}

span.Attribute_Item.keywords.atr-partners>span.Attribute_Value {
	background-color: white;
}

span.Attribute_Item.keywords.atr-partners>span.Attribute_Value:hover {
	background-color: #EEEEEE;
}

span.Attribute_Item.keywords.atr-funders>span.Attribute_Value {
	background-color: cornflowerblue;
	color: white;
}

span.Attribute_Item.keywords.atr-funders>span.Attribute_Value:hover {
	background-color: steelblue;
}

span.Attribute_Item.keywords.atr-placeAndPromise>span.Attribute_Value {
	background-color: #ffffbb;
	text-transform: lowercase;
}

span.Attribute_Item.keywords.atr-placeAndPromise>span.Attribute_Value:hover
	{
	background-color: beige;
}

.geolive_window_footer .toolbar-icons {
	top: 8px;
	right: 10px;
}

span.toolbar-icons span.t-btn {
	border-color: cornflowerblue;
	margin-left: 4px;
}


/*Info window tab section*/

.infowindow_tab {
    position: absolute;
    top: 0px;
    left: calc( 100% + 36px );
    z-index: 2;
    width: 0px;
}


.infowindow_tab span.tab {
	height: 16px;
    width: 16px;
    border: none;
    background-color: cornflowerblue;
    border-radius: 0 3px 3px 0;
    margin: 2px 0;
    padding: 5px 7px;
    position: relative;
    
}

.infowindow_tab .tab:first-child {
   border: none;
}


.infowindow_tab .tab.active {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	border: none;
	
}



span.tab:before {
	content: "";
	background-image:
		url('http://more.geolive.ca/administrator/components/com_geolive/assets/Map%20Item%20Icons/sm_transform.png?tint=rgb(255, 255, 255)');
	height: 16px;
	width: 16px;
	position: absolute;
	background-size: 100%;
	top: 5px;
	left: 7px;
	margin: 2px 0;
}

span.tab-0:before {
	background-image:
		url('http://more.geolive.ca/administrator/components/com_geolive/assets/Map%20Item%20Icons/sm_marker.png?tint=rgb(255, 255, 255)');
	width: 14px;
	height: 19px;
	top: 4px;
	left: 8px;
}

span.tab-0.active:before {
	background-image:
		url('http://more.geolive.ca/administrator/components/com_geolive/assets/Map%20Item%20Icons/sm_marker.png?tint=rgb(100, 149, 237)');
}

span.tab-1.active:before {
	background-image:
		url('http://more.geolive.ca/administrator/components/com_geolive/assets/Map%20Item%20Icons/sm_transform.png?tint=rgb(100, 149, 237)');
}

span.tab-2:before {
    background-image: url('http://more.geolive.ca/administrator/components/com_geolive/assets/Map%20Item%20Icons/sm_info.png?tint=rgb(255, 255, 255)');
    width: 17px;
    height: 14px;
    top: 7px;
}

span.tab-2.active:before {
    background-image: url('http://more.geolive.ca/administrator/components/com_geolive/assets/Map%20Item%20Icons/sm_info.png?tint=rgb(100, 149, 237)');
}

.discussionTab .count.hasPosts:before {
    position: absolute;
    top: 7px;
    left: 4px;
    background-color: white;
    width: 11px;
    text-align: center;
    content: "1";
}

.tab.active .discussionTab .count.hasPosts:before {
	background-color: cornflowerblue;
	color:white;
}

.discussionTab .tab-lbl {
    display: none;
}


.mapitem_more {
	padding: 0 20px;
}

.pb-c {
	background-color: aliceblue;
}

.pb-c .content {
	background-color: transparent;
}

li.Item_Privacy_Item.privacy_registered.t-btn {
	display: none;
}

span.tab.active:after {
	position: absolute;
	content: "";
	width: 4px;
	height: 30px;
	background-color: white;
	left: -4px;
	top: 0;
}

.pb-modules-viewer .label.top-left {
	display: block;
}

.geolive_inner .content {
	background-color: transparent;
}

.tip-text {
	line-height: 13px;
	color: cornflowerblue;
}
