@CHARSET "UTF-8";
.module-wizard .tabs span.noIcon.audio {
	background-image:
		url("/templates/rijekafiume/images/media-images/media-music.png");
	background-size: 64px auto;
}

.module-wizard .tabs span.noIcon.document {
	display: none;
}

.module-wizard .tabs span.noIcon.image {
	background-image:
		url("/templates/rijekafiume/images/media-images/media-image.png");
	background-size: 64px auto;
}

.module-wizard .tabs span.noIcon.video {
	background-image:
		url("/templates/rijekafiume/images/media-images/media-video.png");
	background-size: 64px auto;
}


.module-wizard .tabs img,div.tabs .noIcon {
	border: none;
}



.module-wizard .AdvancedEditorContainer {
	position: relative;
	padding-bottom: 38px;
}

.module-wizard .tabs span.noIcon {
	height: 64px;
	width: 64px;
}

.module-wizard .tabs .tabs_container {
	width: 200px;
}

.module-wizard .tabs .tabs {
	width: 200px
}

.module-wizard .no-text .ToolbarBottom {
	margin-top: 80px;
    display: block;
    height: 46px;
}

.module-wizard .WizardButton {
	background-color: #777777;
	border: 1px solid black;
	border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	float: right;
	list-style: none outside none;
	margin-left: 2px;
	overflow: hidden;
	padding-bottom: 0;
	padding-left: 0;
	padding-top: 0;
}

span.t-btn.post {
	background-color: white;
}

.no-media .media-bar, .no-media .ToolbarBottom {
	display:none;
}
.no-text .text-input{
	display:none;
}

.tabs {
    margin-right: 190px;
}




span.WizardFooter {
    border: none;
    width: 100%;
    box-sizing: border-box;
    right: 0;
    bottom: -60px;
}


.icn-s-lst li.list-icn-a:hover::before, .icn-s-lst li.list-icn-a.selected::before{
	background-color: rgb(123, 25, 25);
}
.icn-s-lst li.list-icn-b:hover::before, .icn-s-lst li.list-icn-b.selected::before{
	background-color: rgb(0, 84, 166);
}
.icn-s-lst li.list-icn-c:hover::before, .icn-s-lst li.list-icn-c.selected::before{
	background-color: rgb(123, 87, 25);
}
.icn-s-lst li.list-icn-d:hover::before, .icn-s-lst li.list-icn-d.selected::before{
	background-color: rgb(198, 186, 52);
}
.icn-s-lst li.list-icn-e:hover::before, .icn-s-lst li.list-icn-e.selected::before{
	background-color: rgb(25, 123, 48);
}